Repository hashgraph/asset-tokenization-studio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera, @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

.github/CODEOWNERS:

# Default code owners for entire repository
*                                               @hashgraph/asset-tokenization-studio-committers @hashgraph/developer-advocates @hashgraph/iobuilders-hedera

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers
/.github/workflows/                             @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers
/.github/depenadbot.yaml                        @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/developer-advocates @hashgraph/iobuilders-hedera

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/developer-advocates @hashgraph/iobuilders-hedera
**/LICENSE                                      @hashgraph/release-engineering-managers

# CodeCov configuration
**/codecov.yml                                  @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                   @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/developer-advocates @hashgraph/iobuilders-hedera
**/.gitignore.*                                 @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/developer-advocates @hashgraph/iobuilders-hedera

feat: added isIssuer
  sdk/src/app/usecase/command/ssi/addIssuer/AddIssuerCommand.ts
  sdk/src/app/usecase/command/ssi/addIssuer/AddIssuerCommandHandler.ts
  sdk/src/app/usecase/command/ssi/error/AccountAlreadyInControlList.ts
  sdk/src/app/usecase/command/ssi/removeIssuer/RemoveIssuerCommand.ts
  sdk/src/app/usecase/command/ssi/removeIssuer/RemoveIssuerCommandHandler.ts
  sdk/src/app/usecase/command/ssi/setRevocationRegistryAddress/SetRevocationRegistryAddressCommand.ts
  sdk/src/app/usecase/command/ssi/setRevocationRegistryAddress/SetRevocationRegistryAddressCommandHandler.ts
  sdk/src/app/usecase/query/ssi/getIssuerListCount/GetIssuerListCountQuery.ts
  sdk/src/app/usecase/query/ssi/getIssuerListCount/GetIssuerListCountQueryHandler.ts
  sdk/src/app/usecase/query/ssi/getIssuerListMembers/GetIssuerListMembersQuery.ts
  sdk/src/app/usecase/query/ssi/getIssuerListMembers/GetIssuerListMembersQueryHandler.ts
  sdk/src/app/usecase/query/ssi/getRevocationRegistryAddress/GetRevocationRegistryAddressQuery.ts
  sdk/src/app/usecase/query/ssi/getRevocationRegistryAddress/GetRevocationRegistryAddressQueryHandler.ts
  sdk/src/app/usecase/query/ssi/isIssuer/IsIssuerQuery.ts
  sdk/src/app/usecase/query/ssi/isIssuer/IsIssuerQueryHandler.ts
  sdk/src/core/Injectable.ts
  sdk/src/core/error/BaseError.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

balance adjustments migrated to layer 0
  contracts/contracts/layer_0/adjustBalances/AdjustBalancesStorageWrapper.sol
  contracts/contracts/layer_0/adjustBalances/AdjustBalancesStorageWrapperRead.sol
  contracts/contracts/layer_2/adjustBalances/AdjustBalances.sol
  contracts/contracts/layer_2/interfaces/adjustBalances/IAdjustBalances.sol
  contracts/contracts/layer_2/interfaces/adjustBalances/IAdjustBalancesStorageWrapper.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

feat: added test
  sdk/__tests__/jest-setup-file.ts
  sdk/src/core/Injectable.ts
  sdk/src/port/in/SSIManagement.ts
  sdk/src/port/in/request/IsIssuerRequest.ts
  sdk/src/port/in/request/index.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix: snaps
  web/src/views/DigitalSecurityDetails/Components/__tests__/__snapshots__/Balance.test.tsx.snap
  web/src/views/DigitalSecurityDetails/__tests__/__snapshots__/DigitalSecurityDetails.test.tsx.snap
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix: snaps
  web/src/views/DigitalSecurityDetails/Components/__tests__/__snapshots__/Balance.test.tsx.snap
  web/src/views/DigitalSecurityDetails/__tests__/__snapshots__/DigitalSecurityDetails.test.tsx.snap
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix: merge conflicts
  README.md
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

chore: upgrade version to 1.11.0
  package.json
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

chore: upgrade resolver and factory contract
  .github/workflows/all.test.yml
  README.md
  web/.env.sample
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera, @hashgraph/asset-tokenization-studio-committers

add kyc sdk tests
  sdk/__tests__/jest-setup-file.ts
  sdk/__tests__/port/in/Security.test.ts
  sdk/src/app/service/ValidationService.ts
  sdk/src/app/usecase/command/security/operations/hold/controllerCreateHoldByPartition/ControllerCreateHoldByPartitionCommandHandler.ts
  sdk/src/app/usecase/command/security/operations/hold/protectedCreateHoldByPartition/ProtectedCreateHoldByPartitionCommandHandler.ts
  sdk/src/app/usecase/command/security/operations/kyc/grantKyc/GrantKYCCommandHandler.ts
  sdk/src/app/usecase/command/security/operations/kyc/revokeKyc/RevokeKYCCommandHandler.ts
  sdk/src/port/in/Security.ts
  sdk/src/port/in/request/index.ts
  sdk/src/port/out/TransactionAdapter.ts
  sdk/src/port/out/rpc/RPCQueryAdapter.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix: patch application
  contracts/scripts/contractsLifeCycle/utils.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fixes
  sdk/__tests__/port/in/Security.test.ts
  sdk/src/app/service/ValidationService.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix: update snaps
  web/src/views/DigitalSecurityDetails/Components/__tests__/__snapshots__/Balance.test.tsx.snap
  web/src/views/DigitalSecurityDetails/__tests__/__snapshots__/DigitalSecurityDetails.test.tsx.snap
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix imports issue
  web/jest.config.cjs
  web/yarn.lock
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

add missing return type
  sdk/__tests__/port/in/Security.test.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix: error code
  sdk/src/core/error/BaseError.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix: fixes in sdk with the new struct
  contracts/contracts/layer_1/hold/HoldStorageWrapper.sol
  contracts/contracts/layer_2/adjustBalances/AdjustBalancesStorageWrapper.sol
  contracts/test/demo/Demo.test.ts
  contracts/test/unitTests/layer_1/cap/cap.test.ts
  sdk/src/domain/context/security/Hold.ts
  sdk/src/port/out/hs/HederaTransactionAdapter.ts
  sdk/src/port/out/rpc/RPCTransactionAdapter.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix: removed duplicated folder
  contracts/changes.patch
  contracts/contracts/testTimeTravel/facetsTimeTravel/AccessControlTimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/AdjustBalancesTimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/BondUSATimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/Cap_2TimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/ControlListTimeTravelTimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/CorporateActionsSecurityTimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/ERC1410ScheduledTasksTimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/ERC1594_2TimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/ERC1643TimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/ERC1644_2TimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/ERC20_2TimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/EquityUSATimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/Hold_2TimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/Lock_2TimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/PauseTimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/ProtectedPartitionsTimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/ScheduledBalanceAdjustmentsTimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/ScheduledSnapshotsTimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/ScheduledTasksTimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/Snapshots_2TimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/TransferAndLockTimeTravel.sol
  contracts/contracts/testTimeTravel/interfaces/ITimeTravel.sol
  contracts/contracts/testTimeTravel/interfaces/ITimeTravelStorageWrapper.sol
  contracts/contracts/testTimeTravel/timeTravel/TimeTravel.sol
  contracts/contracts/testTimeTravel/timeTravel/TimeTravelStorageWrapper.sol
  contracts/test/unitTests/layer_2/lock/lock.test.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

feat[BBND-574] Added SSI Management module to SDK (#268)
  sdk/__tests__/jest-setup-file.ts
  sdk/__tests__/port/in/Ssi.test.ts
  sdk/src/app/usecase/command/ssi/addIssuer/AddIssuerCommand.ts
  sdk/src/app/usecase/command/ssi/addIssuer/AddIssuerCommandHandler.ts
  sdk/src/app/usecase/command/ssi/error/AccountAlreadyInControlList.ts
  sdk/src/app/usecase/command/ssi/removeIssuer/RemoveIssuerCommand.ts
  sdk/src/app/usecase/command/ssi/removeIssuer/RemoveIssuerCommandHandler.ts
  sdk/src/app/usecase/command/ssi/setRevocationRegistryAddress/SetRevocationRegistryAddressCommand.ts
  sdk/src/app/usecase/command/ssi/setRevocationRegistryAddress/SetRevocationRegistryAddressCommandHandler.ts
  sdk/src/app/usecase/query/ssi/getIssuerListCount/GetIssuerListCountQuery.ts
  sdk/src/app/usecase/query/ssi/getIssuerListCount/GetIssuerListCountQueryHandler.ts
  sdk/src/app/usecase/query/ssi/getIssuerListMembers/GetIssuerListMembersQuery.ts
  sdk/src/app/usecase/query/ssi/getIssuerListMembers/GetIssuerListMembersQueryHandler.ts
  sdk/src/app/usecase/query/ssi/getRevocationRegistryAddress/GetRevocationRegistryAddressQuery.ts
  sdk/src/app/usecase/query/ssi/getRevocationRegistryAddress/GetRevocationRegistryAddressQueryHandler.ts
  sdk/src/app/usecase/query/ssi/isIssuer/IsIssuerQuery.ts
  sdk/src/app/usecase/query/ssi/isIssuer/IsIssuerQueryHandler.ts
  sdk/src/core/Constants.ts
  sdk/src/core/Injectable.ts
  sdk/src/domain/context/security/SecurityRole.ts
  sdk/src/port/in/SSIManagement.ts
  sdk/src/port/in/request/AddIssuerRequest.ts
  sdk/src/port/in/request/GetIssuerListCountRequest.ts
  sdk/src/port/in/request/GetIssuerListMembersRequest.ts
  sdk/src/port/in/request/GetRevocationRegistryAddressRequest.ts
  sdk/src/port/in/request/IsIssuerRequest.ts
  sdk/src/port/in/request/RemoveIssuerRequest.ts
  sdk/src/port/in/request/SetRevocationRegistryAddressRequest.ts
  sdk/src/port/in/request/index.ts
  sdk/src/port/out/TransactionAdapter.ts
  sdk/src/port/out/hs/HederaTransactionAdapter.ts
  sdk/src/port/out/rpc/RPCQueryAdapter.ts
  sdk/src/port/out/rpc/RPCTransactionAdapter.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

add issuer validation
  sdk/__tests__/config.ts
  sdk/__tests__/jest-setup-file.ts
  sdk/__tests__/port/in/Security.test.ts
  sdk/src/app/service/ValidationService.ts
  sdk/src/app/usecase/command/security/operations/kyc/grantKyc/GrantKYCCommandHandler.ts
  sdk/src/port/in/index.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

add evm address to github env
  .github/workflows/all.test.yml
  sdk/__tests__/config.ts
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fixes and refactor
  sdk/__tests__/jest-setup-file.ts
  sdk/__tests__/port/in/Security.test.ts
  sdk/src/app/usecase/command/security/operations/kyc/grantKyc/GrantKYCCommand.ts
  sdk/src/app/usecase/command/security/operations/kyc/grantKyc/GrantKYCCommandHandler.ts
  sdk/src/port/in/Security.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

update snaps
  web/src/views/DigitalSecurityDetails/Components/__tests__/__snapshots__/Balance.test.tsx.snap
  web/src/views/DigitalSecurityDetails/__tests__/__snapshots__/DigitalSecurityDetails.test.tsx.snap
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

`refactor: normalize function names to camelCase in balance adjustment interfaces and implementations`
  contracts/contracts/layer_0/ERC1400/ERC1410/ERC1410BasicStorageWrapperRead.sol
  contracts/contracts/layer_0/adjustBalances/AdjustBalancesStorageWrapperRead.sol
  contracts/contracts/layer_0/scheduledTasks/scheduledBalanceAdjustments/ScheduledBalanceAdjustmentsStorageWrapper.sol
  contracts/contracts/layer_0/snapshots/SnapshotsStorageWrapperRead.sol
  contracts/contracts/layer_2/adjustBalances/AdjustBalances.sol
  contracts/contracts/layer_2/adjustBalances/AdjustBalancesStorageWrapper.sol
  contracts/contracts/layer_2/interfaces/adjustBalances/IAdjustBalances.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix: try fix
  sdk/src/app/service/ValidationService.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

try fix
  sdk/src/app/service/ValidationService.ts
  sdk/src/app/usecase/command/security/operations/kyc/grantKyc/GrantKYCCommandHandler.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix: prettier
  sdk/src/app/service/ValidationService.ts
  sdk/src/app/usecase/command/security/operations/kyc/grantKyc/GrantKYCCommandHandler.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix: validation
  sdk/src/app/service/ValidationService.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix: prettier
  sdk/src/app/service/ValidationService.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix: build
  sdk/src/app/service/ValidationService.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

clean cache before tests
  .github/workflows/all.test.yml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

clean cache before sdk
  .github/workflows/all.test.yml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

move clean cache
  .github/workflows/all.test.yml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

try fix
  sdk/__tests__/port/in/Security.test.ts
  sdk/package-lock.json
  sdk/package.json
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

try
  sdk/__tests__/port/in/Security.test.ts
  sdk/__tests__/port/in/test.test.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

prettier
  sdk/__tests__/port/in/Security.test.ts
  sdk/__tests__/port/in/test.test.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

run in band add cache to coverag
  sdk/jest.config.js
  sdk/package.json
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

change coverage provider to v8
  sdk/jest.config.js
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

add -ci
  sdk/jest.config.js
  sdk/package.json
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

optimize tests resource consumption
  .github/workflows/all.test.yml
  sdk/package.json
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

add missing evm address to env
  .github/workflows/all.test.yml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers
