Repository hashgraph/asset-tokenization-studio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera, @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

refactor: reorganize HoldStorageWrapperRead and move HoldData structures to IHold interface
  contracts/contracts/layer_1/hold/HoldStorageWrapperRead.sol
  contracts/contracts/layer_1/interfaces/hold/IHold.sol
  contracts/contracts/layer_1/interfaces/hold/IHoldStorageWrapper.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

SDK package-lock.json & UI SerachRole fixed
  sdk/package-lock.json
  web/src/views/DigitalSecurityDetails/Components/RoleManagement/SearchByRole.tsx
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

SC duplicated fixed
  contracts/scripts/factory.ts
  contracts/test/demo/Demo.test.ts
  contracts/test/unitTests/factory/factory.test.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix(contract tests): wait until promise resolution in protectedPartitions test
  contracts/test/unitTests/layer_1/protectedPartitions/protectedPartitions.test.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

Feature/holds (#232)
  contracts/contracts/layer_1/hold/Hold.sol
  contracts/contracts/layer_1/hold/HoldStorageWrapper.sol
  contracts/contracts/layer_1/hold/HoldStorageWrapperRead.sol
  contracts/contracts/layer_1/interfaces/hold/IHold.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

hold layer 2 added
  contracts/contracts/layer_1/constants/storagePositions.sol
  contracts/contracts/layer_1/hold/Hold.sol
  contracts/contracts/layer_1/hold/HoldStorageWrapperRead.sol
  contracts/contracts/layer_1/interfaces/hold/IHold.sol
  contracts/contracts/layer_2/hold/HoldStorageWrapper_2.sol
  contracts/contracts/layer_2/hold/HoldStorageWrapper_2_Read.sol
  contracts/contracts/layer_2/hold/Hold_2.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

docs: update README with environment variable formatting and add latest deployed smart contracts
  README.md
  contracts/README.md
  contracts/tasks/deploy.ts
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera, @hashgraph/asset-tokenization-studio-committers

hold integrated into snapshots
  contracts/contracts/layer_1/snapshots/Snapshots.sol
  contracts/contracts/layer_1/snapshots/SnapshotsStorageWrapper.sol
  contracts/contracts/layer_1/snapshots/Snapshots_CD_Lib.sol
  contracts/contracts/layer_2/hold/Hold_2_CD_Lib.sol
  contracts/contracts/layer_2/snapshots/SnapshotsStorageWrapper_2.sol
  contracts/contracts/layer_2/snapshots/Snapshots_2.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

Bond getCoupon and Equity getSnapshotBalance updated with Hold
  contracts/contracts/layer_1/hold/Hold_CD_Lib.sol
  contracts/contracts/layer_2/equity/EquityStorageWrapper.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

Bond getCoupon and Equity getSnapshotBalance updated with Hold (#233)
  contracts/contracts/layer_1/hold/Hold_CD_Lib.sol
  contracts/contracts/layer_2/equity/EquityStorageWrapper.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

Hold added to BalanceAdjustment
  contracts/contracts/layer_2/adjustBalances/AdjustBalances.sol
  contracts/contracts/layer_2/adjustBalances/AdjustBalancesStorageWrapper.sol
  contracts/contracts/layer_2/adjustBalances/AdjustBalancesStorageWrapperRead.sol
  contracts/contracts/layer_2/adjustBalances/AdjustBalances_CD_Lib.sol
  contracts/contracts/layer_2/interfaces/adjustBalances/IAdjustBalances.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

Hold added to BalanceAdjustment (#234)
  contracts/contracts/layer_2/adjustBalances/AdjustBalances.sol
  contracts/contracts/layer_2/adjustBalances/AdjustBalancesStorageWrapper.sol
  contracts/contracts/layer_2/adjustBalances/AdjustBalancesStorageWrapperRead.sol
  contracts/contracts/layer_2/adjustBalances/AdjustBalances_CD_Lib.sol
  contracts/contracts/layer_2/interfaces/adjustBalances/IAdjustBalances.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

DIDManagement implemented
  contracts/contracts/layer_1/constants/resolverKeys.sol
  contracts/contracts/layer_1/constants/storagePositions.sol
  contracts/contracts/layer_1/did/DIDManagement.sol
  contracts/contracts/layer_1/did/DIDManagementStorageWrapper.sol
  contracts/contracts/layer_1/interfaces/did/IDIDManagement.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

virtual removed
  contracts/contracts/layer_1/did/DIDManagement.sol
  contracts/contracts/layer_1/did/DIDManagementStorageWrapper.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

DID changed to SSI
  contracts/contracts/layer_1/constants/resolverKeys.sol
  contracts/contracts/layer_1/constants/roles.sol
  contracts/contracts/layer_1/constants/storagePositions.sol
  contracts/contracts/layer_1/interfaces/ssi/ISSIManagement.sol
  contracts/contracts/layer_1/ssi/SSIManagement.sol
  contracts/contracts/layer_1/ssi/SSIManagementStorageWrapper.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

DIDManagement implemented (#235)
  contracts/contracts/layer_1/constants/resolverKeys.sol
  contracts/contracts/layer_1/constants/roles.sol
  contracts/contracts/layer_1/interfaces/ssi/ISSIManagement.sol
  contracts/contracts/layer_1/ssi/SSIManagement.sol
  contracts/contracts/layer_1/ssi/SSIManagementStorageWrapper.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

all.test.yml comment left aligned
  .github/workflows/all.test.yml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

feat: added hold creation methods
  contracts/contracts/layer_1/hold/Hold.sol
  contracts/contracts/layer_1/hold/HoldStorageWrapper.sol
  contracts/contracts/layer_1/hold/HoldStorageWrapperRead.sol
  contracts/contracts/layer_1/interfaces/hold/IHold.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

add first functions in layer 1
  contracts/contracts/layer_1/hold/Hold.sol
  contracts/contracts/layer_1/hold/HoldStorageWrapper.sol
  contracts/contracts/layer_1/lock/LockStorageWrapper.sol
  contracts/package.json
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

feat: cleaning creation .env files
  .github/workflows/all.test.yml
  web/README.md
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

hold create tests added
  contracts/test/unitTests/layer_1/hold/hold.test.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

feat: cleaning creation .env files (#237)
  .github/workflows/all.test.yml
  web/README.md
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix: fix comments
  contracts/contracts/layer_1/hold/Hold.sol
  contracts/contracts/layer_1/hold/HoldStorageWrapper.sol
  contracts/contracts/layer_1/hold/HoldStorageWrapperRead.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

added operatorData to hold tests
  contracts/test/unitTests/layer_1/hold/hold.test.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

bug fixes
  contracts/contracts/layer_1/hold/Hold.sol
  contracts/contracts/layer_1/hold/HoldStorageWrapper.sol
  contracts/contracts/layer_1/hold/HoldStorageWrapperRead.sol
  contracts/contracts/layer_1/interfaces/hold/IHold.sol
  contracts/contracts/layer_2/hold/HoldStorageWrapper_2.sol
  contracts/contracts/layer_2/hold/HoldStorageWrapper_2_Read.sol
  contracts/contracts/layer_2/hold/Hold_2.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

some fixes
  contracts/contracts/layer_1/ERC1400/ERC20/ERC20StorageWrapper.sol
  contracts/contracts/layer_1/hold/HoldStorageWrapper.sol
  contracts/contracts/layer_2/ERC1400/ERC1410/ERC1410ScheduledTasksStorageWrapper.sol
  contracts/contracts/layer_2/hold/HoldStorageWrapper_2.sol
  contracts/contracts/layer_2/hold/HoldStorageWrapper_2_Read.sol
  contracts/contracts/layer_2/hold/Hold_2.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

commit
  contracts/contracts/layer_1/hold/Hold.sol
  contracts/contracts/layer_2/hold/HoldStorageWrapper_2_Read.sol
  contracts/contracts/layer_2/hold/Hold_2.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

hold more refactoring
  contracts/contracts/layer_1/hold/Hold.sol
  contracts/contracts/layer_1/hold/HoldStorageWrapper.sol
  contracts/contracts/layer_1/interfaces/hold/IHold.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

hold protected partition fixed
  contracts/contracts/layer_1/constants/values.sol
  contracts/contracts/layer_1/hold/Hold.sol
  contracts/contracts/layer_1/hold/HoldStorageWrapper.sol
  contracts/contracts/layer_1/interfaces/hold/IHold.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

feat: added hold creation methods (#236)
  contracts/contracts/layer_1/ERC1400/ERC20/ERC20StorageWrapper.sol
  contracts/contracts/layer_1/constants/values.sol
  contracts/contracts/layer_1/hold/Hold.sol
  contracts/contracts/layer_1/hold/HoldStorageWrapper.sol
  contracts/contracts/layer_1/hold/HoldStorageWrapperRead.sol
  contracts/contracts/layer_1/interfaces/hold/IHold.sol
  contracts/contracts/layer_2/ERC1400/ERC1410/ERC1410ScheduledTasksStorageWrapper.sol
  contracts/contracts/layer_2/hold/HoldStorageWrapper_2.sol
  contracts/contracts/layer_2/hold/HoldStorageWrapper_2_Read.sol
  contracts/contracts/layer_2/hold/Hold_2.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

add more functions
  contracts/contracts/layer_1/hold/Hold.sol
  contracts/contracts/layer_1/hold/HoldStorageWrapper.sol
  contracts/contracts/layer_1/hold/HoldStorageWrapperRead.sol
  contracts/contracts/layer_1/lock/LockStorageWrapperRead.sol
  contracts/contracts/layer_2/hold/HoldStorageWrapper_2.sol
  contracts/contracts/layer_2/hold/Hold_2.sol
  contracts/contracts/layer_2/lock/LockStorageWrapper_2.sol
  contracts/contracts/layer_2/lock/Lock_2.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

hold tests fixed
  contracts/test/unitTests/layer_1/hold/hold.test.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

scripts updated
  contracts/Configuration.ts
  contracts/contracts/testTimeTravel/facetsTimeTravel/Hold_2TimeTravel.sol
  contracts/package.json
  contracts/scripts/businessLogicResolver.ts
  contracts/scripts/deploy.ts
  contracts/scripts/deployEnvironmentByRpc.ts
  contracts/tasks/deploy.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

Hold test fixed
  contracts/contracts/layer_1/hold/Hold.sol
  contracts/test/unitTests/layer_1/hold/hold.test.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

feat: add get methods to layer_1
  contracts/contracts/layer_1/hold/Hold.sol
  contracts/contracts/layer_1/hold/HoldStorageWrapper.sol
  contracts/contracts/layer_1/hold/HoldStorageWrapperRead.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

L2 hold inheritance solved
  contracts/contracts/layer_1/ERC1400/ERC1410/ERC1410SnapshotStorageWrapper.sol
  contracts/contracts/layer_1/hold/HoldStorageWrapper.sol
  contracts/contracts/layer_1/hold/HoldStorageWrapperRead.sol
  contracts/contracts/layer_2/ERC1400/ERC1410/ERC1410ScheduledTasksStorageWrapper.sol
  contracts/contracts/layer_2/cap/CapStorageWrapper_2.sol
  contracts/contracts/layer_2/hold/HoldStorageWrapper_2.sol
  contracts/contracts/layer_2/hold/HoldStorageWrapper_2_Read.sol
  contracts/contracts/layer_2/hold/Hold_2.sol
  contracts/contracts/layer_2/lock/LockStorageWrapper_2.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

hold storage wrapper refactored
  contracts/contracts/layer_1/hold/HoldStorageWrapper.sol
  contracts/contracts/layer_2/hold/HoldStorageWrapper_2.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

overrride set index function in layer 2
  contracts/contracts/layer_1/hold/HoldStorageWrapper.sol
  contracts/contracts/layer_2/hold/HoldStorageWrapper_2.sol
  contracts/contracts/layer_2/hold/Hold_2.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

feat: add get methods to layer_1 (#239)
  contracts/contracts/layer_1/hold/Hold.sol
  contracts/contracts/layer_1/hold/HoldStorageWrapper.sol
  contracts/contracts/layer_1/hold/HoldStorageWrapperRead.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

refactor and fixes
  contracts/contracts/layer_1/hold/Hold.sol
  contracts/contracts/layer_1/hold/HoldStorageWrapper.sol
  contracts/contracts/layer_1/hold/HoldStorageWrapperRead.sol
  contracts/contracts/layer_1/lock/Lock.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

.github/CODEOWNERS:

# Default code owners for entire repository
*                                               @hashgraph/asset-tokenization-studio-committers @hashgraph/developer-advocates @hashgraph/iobuilders-hedera

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers
/.github/workflows/                             @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers
/.github/depenadbot.yaml                        @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/developer-advocates @hashgraph/iobuilders-hedera

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/developer-advocates @hashgraph/iobuilders-hedera
**/LICENSE                                      @hashgraph/release-engineering-managers

# CodeCov configuration
**/codecov.yml                                  @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                   @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/developer-advocates @hashgraph/iobuilders-hedera
**/.gitignore.*                                 @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/developer-advocates @hashgraph/iobuilders-hedera
