Repository hashgraph/asset-tokenization-studio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera, @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

change reigstry back to yarn in web
  web/yarn.lock
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

restor yarn lock file to parent branch
  web/yarn.lock
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix review comments
  sdk/__tests__/port/in/Security.test.ts
  sdk/src/app/service/ValidationService.ts
  sdk/src/app/usecase/command/security/operations/kyc/grantKyc/GrantKYCCommandHandler.ts
  sdk/src/domain/context/kyc/terminal3.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

balance adjustments migrated to layer 0 (#273)
  contracts/contracts/layer_0/ERC1400/ERC1410/ERC1410BasicStorageWrapperRead.sol
  contracts/contracts/layer_0/ERC1400/ERC20/ERC20StorageWrapperRead.sol
  contracts/contracts/layer_0/adjustBalances/AdjustBalancesStorageWrapperRead.sol
  contracts/contracts/layer_0/constants/storagePositions.sol
  contracts/contracts/layer_0/lock/LockStorageWrapperRead.sol
  contracts/contracts/layer_0/scheduledTasks/ScheduledTasksCommon.sol
  contracts/contracts/layer_0/scheduledTasks/scheduledBalanceAdjustments/ScheduledBalanceAdjustmentsStorageWrapper.sol
  contracts/contracts/layer_0/scheduledTasks/scheduledSnapshots/ScheduledSnapshotsStorageWrapperRead.sol
  contracts/contracts/layer_0/snapshots/SnapshotsStorageWrapper.sol
  contracts/contracts/layer_0/snapshots/SnapshotsStorageWrapperRead.sol
  contracts/contracts/layer_1/ERC1400/ERC20/ERC20StorageWrapper.sol
  contracts/contracts/layer_1/constants/storagePositions.sol
  contracts/contracts/layer_1/lock/Lock.sol
  contracts/contracts/layer_1/lock/LockStorageWrapper.sol
  contracts/contracts/layer_2/adjustBalances/AdjustBalances.sol
  contracts/contracts/layer_2/adjustBalances/AdjustBalancesStorageWrapper.sol
  contracts/contracts/layer_2/interfaces/adjustBalances/IAdjustBalances.sol
  contracts/contracts/layer_2/interfaces/adjustBalances/IAdjustBalancesStorageWrapper.sol
  contracts/contracts/layer_2/scheduledTasks/scheduledTasks/ScheduledTasks.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

corporate Actions migrated to layer 0
  contracts/contracts/layer_0/adjustBalances/AdjustBalancesStorageWrapper_1.sol
  contracts/contracts/layer_0/adjustBalances/AdjustBalancesStorageWrapper_2.sol
  contracts/contracts/layer_0/cap/CapStorageWrapperRead.sol
  contracts/contracts/layer_0/corporateActions/CorporateActionsStorageWrapper.sol
  contracts/contracts/layer_0/lock/LockStorageWrapperRead.sol
  contracts/contracts/layer_1/corporateActions/CorporateActions.sol
  contracts/contracts/layer_1/interfaces/corporateActions/ICorporateActionsStorageWrapper.sol
  contracts/contracts/layer_2/adjustBalances/AdjustBalances.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

add missing fixes from review comments
  sdk/__tests__/jest-setup-file.ts
  sdk/src/app/service/ValidationService.ts
  sdk/src/app/usecase/command/security/operations/kyc/grantKyc/GrantKYCCommandHandler.ts
  sdk/src/domain/context/kyc/terminal3.ts
  sdk/src/port/in/request/GetKYCAccountsCountRequest.ts
  sdk/src/port/in/request/GetKYCAccountsRequest.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

bug fixes
  contracts/contracts/layer_0/adjustBalances/AdjustBalancesStorageWrapper_2.sol
  contracts/contracts/layer_0/corporateActions/CorporateActionsStorageWrapper_1.sol
  contracts/contracts/layer_0/corporateActions/CorporateActionsStorageWrapper_2.sol
  contracts/contracts/layer_0/lock/LockStorageWrapperRead.sol
  contracts/contracts/layer_0/scheduledTasks/scheduledBalanceAdjustments/ScheduledBalanceAdjustmentsStorageWrapper.sol
  contracts/contracts/layer_0/snapshots/SnapshotsStorageWrapperRead.sol
  contracts/contracts/layer_1/common/Common.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

Test/bbnd 589 kyc sdk (#275)
  .github/workflows/all.test.yml
  sdk/__tests__/config.ts
  sdk/__tests__/jest-setup-file.ts
  sdk/__tests__/port/in/Security.test.ts
  sdk/package-lock.json
  sdk/package.json
  sdk/src/app/service/ValidationService.ts
  sdk/src/app/usecase/command/security/error/UnlistedIssuer.ts
  sdk/src/app/usecase/command/security/operations/kyc/grantKyc/GrantKYCCommand.ts
  sdk/src/app/usecase/command/security/operations/kyc/grantKyc/GrantKYCCommandHandler.ts
  sdk/src/app/usecase/command/security/operations/kyc/revokeKyc/RevokeKYCCommand.ts
  sdk/src/app/usecase/command/security/operations/kyc/revokeKyc/RevokeKYCCommandHandler.ts
  sdk/src/app/usecase/query/security/kyc/getKycAccounts/GetKYCAccountsQuery.ts
  sdk/src/app/usecase/query/security/kyc/getKycAccounts/GetKYCAccountsQueryHandler.ts
  sdk/src/app/usecase/query/security/kyc/getKycAccountsCount/GetKYCAccountsCountQuery.ts
  sdk/src/app/usecase/query/security/kyc/getKycAccountsCount/GetKYCAccountsCountQueryHandler.ts
  sdk/src/app/usecase/query/security/kyc/getKycFor/GetKYCForQuery.ts
  sdk/src/app/usecase/query/security/kyc/getKycFor/GetKYCForQueryHandler.ts
  sdk/src/core/Injectable.ts
  sdk/src/domain/context/kyc/terminal3.ts
  sdk/src/domain/context/security/SecurityRole.ts
  sdk/src/domain/context/shared/error/InvalidBase64.ts
  sdk/src/port/in/Security.ts
  sdk/src/port/in/index.ts
  sdk/src/port/in/request/GetKYCAccountsCountRequest.ts
  sdk/src/port/in/request/GetKYCAccountsRequest.ts
  sdk/src/port/in/request/GetKYCForRequest.ts
  sdk/src/port/in/request/GrantKYCRequest.ts
  sdk/src/port/in/request/RevokeKYCRequest.ts
  sdk/src/port/in/request/index.ts
  sdk/src/port/in/request/validation/Validation.ts
  sdk/src/port/out/TransactionAdapter.ts
  sdk/src/port/out/hs/HederaTransactionAdapter.ts
  sdk/src/port/out/rpc/RPCQueryAdapter.ts
  sdk/src/port/out/rpc/RPCTransactionAdapter.ts
  web/jest.config.cjs
  web/src/views/DigitalSecurityDetails/Components/__tests__/__snapshots__/Balance.test.tsx.snap
  web/src/views/DigitalSecurityDetails/__tests__/__snapshots__/DigitalSecurityDetails.test.tsx.snap
  web/yarn.lock
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

commit
  contracts/contracts/layer_0/ERC1400/ERC1410/ERC1410BasicStorageWrapper.sol
  contracts/contracts/layer_0/ERC1400/ERC1410/ERC1410BasicStorageWrapperRead.sol
  contracts/contracts/layer_0/ERC1400/ERC1410/ERC1410ControllerStorageWrapper.sol
  contracts/contracts/layer_0/ERC1400/ERC1410/ERC1410OperatorStorageWrapper.sol
  contracts/contracts/layer_0/ERC1400/ERC1410/ERC1410ProtectedPartitionsStorageWrapper.sol
  contracts/contracts/layer_0/ERC1400/ERC1410/ERC1410SnapshotStorageWrapper.sol
  contracts/contracts/layer_0/ERC1400/ERC1410/ERC1410StandardStorageWrapper.sol
  contracts/contracts/layer_0/ERC1400/ERC1644/ERC1644StorageWrapper.sol
  contracts/contracts/layer_0/ERC1400/ERC20/ERC20StorageWrapper.sol
  contracts/contracts/layer_0/constants/roles.sol
  contracts/contracts/layer_0/constants/storagePositions.sol
  contracts/contracts/layer_0/constants/values.sol
  contracts/contracts/layer_0/core/accessControl/AccessControlStorageWrapper.sol
  contracts/contracts/layer_0/core/controlList/ControlListStorageWrapper.sol
  contracts/contracts/layer_0/core/pause/PauseStorageWrapper.sol
  contracts/contracts/layer_0/core/protectedPartitions/ProtectedPartitionsStorageWrapper.sol
  contracts/contracts/layer_0/corporateActions/CorporateActionsStorageWrapper_1.sol
  contracts/contracts/layer_0/hold/HoldStorageWrapper_1.sol
  contracts/contracts/layer_0/hold/HoldStorageWrapper_2.sol
  contracts/contracts/layer_0/scheduledTasks/ScheduledTasksCommon.sol
  contracts/contracts/layer_1/ERC1400/ERC1410/ERC1410Basic.sol
  contracts/contracts/layer_1/ERC1400/ERC1410/ERC1410Controller.sol
  contracts/contracts/layer_1/ERC1400/ERC1410/ERC1410Operator.sol
  contracts/contracts/layer_1/ERC1400/ERC1410/ERC1410ProtectedPartitions.sol
  contracts/contracts/layer_1/ERC1400/ERC1410/ERC1410Snapshot.sol
  contracts/contracts/layer_1/ERC1400/ERC1410/ERC1410Standard.sol
  contracts/contracts/layer_1/hold/Hold.sol
  contracts/contracts/layer_1/interfaces/hold/IHold.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix: update gas limits and EVM version in Hardhat configuration
  contracts/hardhat.config.ts
  contracts/scripts/constants.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

hold migrated to layer 0
  contracts/contracts/layer_0/core/protectedPartitions/ProtectedPartitionsStorageWrapper.sol
  contracts/contracts/layer_0/snapshots/SnapshotsStorageWrapper.sol
  contracts/contracts/layer_0/snapshots/SnapshotsStorageWrapperRead.sol
  contracts/contracts/layer_1/ERC1400/ERC1594/ERC1594.sol
  contracts/contracts/layer_1/ERC1400/ERC1594/ERC1594StorageWrapper.sol
  contracts/contracts/layer_1/ERC1400/ERC1644/ERC1644.sol
  contracts/contracts/layer_1/ERC1400/ERC20/ERC20.sol
  contracts/contracts/layer_1/common/Common.sol
  contracts/contracts/layer_1/constants/values.sol
  contracts/contracts/layer_1/hold/Hold.sol
  contracts/contracts/layer_1/lock/Lock.sol
  contracts/contracts/layer_1/protectedPartitions/signatureVerification.sol
  contracts/contracts/layer_1/snapshots/Snapshots.sol
  contracts/contracts/layer_1/snapshots/Snapshots_CD_Lib.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

resolver proxy updated
  contracts/contracts/resolver/resolverProxy/unstructured/ResolverProxyUnstructured.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix: prettier
  sdk/__tests__/port/in/Security.test.ts
  sdk/src/app/usecase/command/security/kyc/grantKyc/GrantKYCCommandHandler.ts
  sdk/src/app/usecase/command/security/kyc/revokeKyc/RevokeKYCCommandHandler.ts
  sdk/src/port/in/index.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix: createConfiguration gas
  contracts/scripts/constants.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

bugs fixed
  contracts/contracts/layer_0/ERC1400/ERC20/ERC20StorageWrapper.sol
  contracts/contracts/layer_0/adjustBalances/AdjustBalancesStorageWrapper_2.sol
  contracts/contracts/layer_0/corporateActions/CorporateActionsStorageWrapper_2.sol
  contracts/contracts/layer_1/ERC1400/ERC1410/ERC1410Snapshot.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

revert hardhat changes
  contracts/hardhat.config.ts
  contracts/scripts/constants.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix: circular dependency
  sdk/src/app/service/ValidationService.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix: variable name
  sdk/src/app/service/ValidationService.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

start to adjust getKYCFor return data
  sdk/src/app/usecase/query/security/kyc/getKycAccountsData/GetKYCAccountsDataQuery.ts
  sdk/src/app/usecase/query/security/kyc/getKycAccountsData/GetKYCAccountsDataQueryHandler.ts
  sdk/src/domain/context/kyc/KYCDetails.ts
  sdk/src/port/in/request/GetKYCAccountsDataRequest.ts
  sdk/src/port/in/response/KYCViewModel.ts
  sdk/src/port/out/rpc/RPCQueryAdapter.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

start to adjust getKYCFor return data
  sdk/src/app/usecase/command/security/operations/kyc/grantKyc/GrantKYCCommandHandler.ts
  sdk/src/app/usecase/query/security/kyc/getKycFor/GetKYCForQuery.ts
  sdk/src/domain/context/kyc/KYCDetails.ts
  sdk/src/port/in/request/GetKYCAccountsDataRequest.ts
  sdk/src/port/in/response/KYCViewModel.ts
  sdk/src/port/out/rpc/RPCQueryAdapter.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

implement getKYCAccountsData in sc
  contracts/contracts/layer_1/interfaces/kyc/IKYC.sol
  contracts/contracts/layer_1/kyc/KYC.sol
  contracts/contracts/layer_1/kyc/KYCStorageWrapperRead.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

feat: ui
  web/src/hooks/mutations/useKYC.tsx
  web/src/hooks/mutations/useSSIManager.tsx
  web/src/hooks/queries/useKYC.ts
  web/src/hooks/queries/useSSIManager.ts
  web/src/i18n/en/index.ts
  web/src/i18n/en/security/details.ts
  web/src/i18n/en/security/kyc.ts
  web/src/i18n/en/security/ssiManager.ts
  web/src/services/SDKService.ts
  web/src/utils/SecurityRole.ts
  web/src/views/DigitalSecurityDetails/Components/KYC/KYC.tsx
  web/src/views/DigitalSecurityDetails/Components/KYC/KYCModal.tsx
  web/src/views/DigitalSecurityDetails/Components/SSIManager/SSIManager.tsx
  web/src/views/DigitalSecurityDetails/Components/SSIManager/SSIManagerModal.tsx
  web/src/views/DigitalSecurityDetails/Components/SSIManager/SSIManagerRevocationModal.tsx
  web/src/views/DigitalSecurityDetails/DigitalSecurityDetails.tsx
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix: update gas limits and EVM version in Hardhat configuration
  contracts/hardhat.config.ts
  contracts/scripts/constants.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

implement getKYCAccountsData method and adjust getKYCFor
  sdk/__tests__/jest-setup-file.ts
  sdk/__tests__/port/in/Kyc.test.ts
  sdk/src/app/usecase/query/security/kyc/getKycAccountsData/GetKYCAccountsDataQuery.ts
  sdk/src/app/usecase/query/security/kyc/getKycAccountsData/GetKYCAccountsDataQueryHandler.ts
  sdk/src/app/usecase/query/security/kyc/getKycStatusFor/GetKYCStatusForQuery.ts
  sdk/src/app/usecase/query/security/kyc/getKycStatusFor/GetKYCStatusForQueryHandler.ts
  sdk/src/core/Injectable.ts
  sdk/src/port/in/Kyc.ts
  sdk/src/port/in/request/GetKYCStatusForRequest.ts
  sdk/src/port/in/request/index.ts
  sdk/src/port/in/response/KYCViewModel.ts
  sdk/src/port/in/response/index.ts
  sdk/src/port/out/rpc/RPCQueryAdapter.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

add method to selectors
  contracts/contracts/layer_1/kyc/KYC.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

separate view model from domain model
  sdk/__tests__/jest-setup-file.ts
  sdk/src/app/usecase/query/security/kyc/getKycAccountsData/GetKYCAccountsDataQuery.ts
  sdk/src/app/usecase/query/security/kyc/getKycFor/GetKYCForQuery.ts
  sdk/src/domain/context/kyc/KYC.ts
  sdk/src/port/out/rpc/RPCQueryAdapter.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix: added protected partitions to deploy script
  README.md
  contracts/.env.sample
  contracts/scripts/deploy.ts
  contracts/tasks/deploy.ts
  web/.env.sample
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera, @hashgraph/asset-tokenization-studio-committers

feat: [BBND-547] add lock balance (#221)
  web/src/i18n/en/index.ts
  web/src/views/DigitalSecurityDetails/Components/Balance.tsx
  web/src/views/DigitalSecurityDetails/Components/__tests__/__snapshots__/Balance.test.tsx.snap
  web/src/views/DigitalSecurityDetails/__tests__/__snapshots__/DigitalSecurityDetails.test.tsx.snap
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix: build
  sdk/__tests__/port/out/AWSKMSTransactionAdapter.test.ts
  sdk/__tests__/port/out/DFNSTransactionAdapter.test.ts
  sdk/__tests__/port/out/FireblocksTransactionAdapter.test.ts
  sdk/src/port/out/hs/hts/HTSTransactionResponseAdapter.ts
  sdk/src/port/out/hs/hts/custodial/AWSKMSTransactionAdapter.ts
  sdk/src/port/out/hs/hts/custodial/CustodialTransactionAdapter.ts
  sdk/src/port/out/hs/hts/custodial/DFNSTransactionAdapter.ts
  sdk/src/port/out/hs/hts/custodial/FireblocksTransactionAdapter.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

`refactor: split common scheduled task functions into separate contract`
  contracts/contracts/layer_0/ERC1400/ERC1410/ERC1410BasicStorageWrapperRead.sol
  contracts/contracts/layer_0/adjustBalances/AdjustBalancesStorageWrapperRead.sol
  contracts/contracts/layer_0/cap/CapStorageWrapperRead.sol
  contracts/contracts/layer_0/lock/LockStorageWrapperRead.sol
  contracts/contracts/layer_0/scheduledTasks/ScheduledTasksCommon.sol
  contracts/contracts/layer_0/scheduledTasks/ScheduledTasksCommonRead.sol
  contracts/contracts/layer_0/scheduledTasks/scheduledBalanceAdjustments/ScheduledBalanceAdjustmentsStorageWrapper.sol
  contracts/contracts/layer_0/snapshots/SnapshotsStorageWrapperRead.sol
  contracts/contracts/layer_1/cap/Cap.sol
  contracts/contracts/layer_1/lock/LockStorageWrapper.sol
  contracts/contracts/layer_2/interfaces/ERC1400/IERC1410ScheduledTasks.sol
  contracts/contracts/layer_2/scheduledTasks/scheduledSnapshots/ScheduledSnapshotsStorageWrapper.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

feat: integrate constants and roles for layer 2 storage and resolver keys
  contracts/contracts/layer_0/ERC1400/ERC1410/ERC1410BasicStorageWrapperRead.sol
  contracts/contracts/layer_0/adjustBalances/AdjustBalancesStorageWrapperRead.sol
  contracts/contracts/layer_0/cap/CapStorageWrapperRead.sol
  contracts/contracts/layer_0/constants/storagePositions.sol
  contracts/contracts/layer_0/constants/values.sol
  contracts/contracts/layer_0/corporateActions/CorporateActionsStorageWrapperRead.sol
  contracts/contracts/layer_0/lock/LockStorageWrapperRead.sol
  contracts/contracts/layer_0/scheduledTasks/ScheduledTasksCommon.sol
  contracts/contracts/layer_0/scheduledTasks/scheduledBalanceAdjustments/ScheduledBalanceAdjustmentsStorageWrapper.sol
  contracts/contracts/layer_0/snapshots/SnapshotsStorageWrapper.sol
  contracts/contracts/layer_0/snapshots/SnapshotsStorageWrapperRead.sol
  contracts/contracts/layer_1/ERC1400/ERC1410/ERC1410BasicStorageWrapper.sol
  contracts/contracts/layer_1/ERC1400/ERC1410/ERC1410Standard.sol
  contracts/contracts/layer_1/ERC1400/ERC1594/ERC1594.sol
  contracts/contracts/layer_1/ERC1400/ERC20/ERC20StorageWrapper.sol
  contracts/contracts/layer_1/cap/Cap.sol
  contracts/contracts/layer_1/common/Common.sol
  contracts/contracts/layer_1/constants/values.sol
  contracts/contracts/layer_1/lock/Lock.sol
  contracts/contracts/layer_1/lock/LockStorageWrapper.sol
  contracts/contracts/layer_2/constants/resolverKeys.sol
  contracts/contracts/layer_2/constants/roles.sol
  contracts/contracts/layer_2/constants/storagePositions.sol
  contracts/contracts/layer_2/interfaces/equity/IEquity.sol
  contracts/contracts/layer_2/interfaces/scheduledTasks/scheduledBalanceAdjustments/IScheduledBalanceAdjustments.sol
  contracts/contracts/layer_2/interfaces/scheduledTasks/scheduledSnapshots/IScheduledSnapshots.sol
  contracts/contracts/layer_2/interfaces/scheduledTasks/scheduledTasks/IScheduledTasks.sol
  contracts/contracts/layer_2/lock/LockStorageWrapper_2.sol
  contracts/contracts/layer_2/lock/LockStorageWrapper_2_Read.sol
  contracts/contracts/layer_2/lock/Lock_2.sol
  contracts/contracts/layer_2/lock/Lock_2_CD_Lib.sol
  contracts/contracts/layer_2/scheduledTasks/scheduledSnapshots/ScheduledSnapshotsStorageWrapper.sol
  contracts/contracts/layer_2/scheduledTasks/scheduledTasks/ScheduledTasksStorageWrapper.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

Feat/bbnd 461 layer0 lock (#265)
  contracts/contracts/layer_0/ERC1400/ERC1410/ERC1410BasicStorageWrapperRead.sol
  contracts/contracts/layer_0/adjustBalances/AdjustBalancesStorageWrapperRead.sol
  contracts/contracts/layer_0/lock/LockStorageWrapperRead.sol
  contracts/contracts/layer_0/snapshots/SnapshotsStorageWrapper.sol
  contracts/contracts/layer_0/snapshots/SnapshotsStorageWrapperRead.sol
  contracts/contracts/layer_1/interfaces/lock/ILockStorageWrapper.sol
  contracts/contracts/layer_1/lock/Lock.sol
  contracts/contracts/layer_1/lock/LockStorageWrapper.sol
  contracts/contracts/layer_2/lock/LockStorageWrapper_2.sol
  contracts/contracts/layer_2/lock/LockStorageWrapper_2_Read.sol
  contracts/contracts/layer_2/lock/Lock_2.sol
  contracts/contracts/layer_2/lock/Lock_2_CD_Lib.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

balance adjustments migrated to layer 0 (#273)
  contracts/contracts/layer_0/ERC1400/ERC1410/ERC1410BasicStorageWrapperRead.sol
  contracts/contracts/layer_0/ERC1400/ERC20/ERC20StorageWrapperRead.sol
  contracts/contracts/layer_0/adjustBalances/AdjustBalancesStorageWrapperRead.sol
  contracts/contracts/layer_0/constants/storagePositions.sol
  contracts/contracts/layer_0/lock/LockStorageWrapperRead.sol
  contracts/contracts/layer_0/scheduledTasks/ScheduledTasksCommon.sol
  contracts/contracts/layer_0/scheduledTasks/scheduledBalanceAdjustments/ScheduledBalanceAdjustmentsStorageWrapper.sol
  contracts/contracts/layer_0/scheduledTasks/scheduledSnapshots/ScheduledSnapshotsStorageWrapperRead.sol
  contracts/contracts/layer_0/snapshots/SnapshotsStorageWrapper.sol
  contracts/contracts/layer_0/snapshots/SnapshotsStorageWrapperRead.sol
  contracts/contracts/layer_1/ERC1400/ERC20/ERC20StorageWrapper.sol
  contracts/contracts/layer_1/constants/storagePositions.sol
  contracts/contracts/layer_1/lock/Lock.sol
  contracts/contracts/layer_1/lock/LockStorageWrapper.sol
  contracts/contracts/layer_2/adjustBalances/AdjustBalances.sol
  contracts/contracts/layer_2/adjustBalances/AdjustBalancesStorageWrapper.sol
  contracts/contracts/layer_2/interfaces/adjustBalances/IAdjustBalances.sol
  contracts/contracts/layer_2/interfaces/adjustBalances/IAdjustBalancesStorageWrapper.sol
  contracts/contracts/layer_2/scheduledTasks/scheduledTasks/ScheduledTasks.sol
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

chore: update package versions and clean up scripts
  contracts/package-lock.json
  package.json
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

refactor: clean up install.js by removing unused uiComponentsDir and commented-out code
  install.js
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

chore: update .gitignore to remove serverless directories and add commitlint configuration
  .gitignore
  commitlint.config.ts
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera, @hashgraph/asset-tokenization-studio-committers

fix test gas limits and add view model to port out
  contracts/hardhat.config.ts
  contracts/scripts/constants.ts
  contracts/scripts/contractsMethods.ts
  sdk/__tests__/jest-setup-file.ts
  sdk/src/port/in/Kyc.ts
  sdk/src/port/out/rpc/RPCQueryAdapter.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

fix return vale port out getKYCFor
  sdk/src/port/in/Kyc.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

add tests for kyc impacted methods
  contracts/contracts/layer_2/ERC1400/ERC1594/ERC1594StorageWrapper_2.sol
  contracts/contracts/layer_2/ERC1400/ERC1594/ERC1594_2.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/AccessControlTimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/AdjustBalancesTimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/BondUSATimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/Cap_2TimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/ControlListTimeTravelTimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/CorporateActionsSecurityTimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/ERC1410ScheduledTasksTimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/ERC1594_2TimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/ERC1643TimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/ERC1644_2TimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/ERC20_2TimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/EquityUSATimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/Hold_2TimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/Lock_2TimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/PauseTimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/ProtectedPartitionsTimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/ScheduledBalanceAdjustmentsTimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/ScheduledSnapshotsTimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/ScheduledTasksTimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/Snapshots_2TimeTravel.sol
  contracts/contracts/testTimeTravel/facetsTimeTravel/TransferAndLockTimeTravel.sol
  contracts/contracts/testTimeTravel/interfaces/ITimeTravel.sol
  contracts/contracts/testTimeTravel/interfaces/ITimeTravelStorageWrapper.sol
  contracts/contracts/testTimeTravel/timeTravel/TimeTravel.sol
  contracts/contracts/testTimeTravel/timeTravel/TimeTravelStorageWrapper.sol
  contracts/scripts/constants.ts
  contracts/test/unitTests/layer_1/ERC1400/ERC1594/erc1594.test.ts
  contracts/test/unitTests/layer_1/ERC1400/ERC20/erc20.test.ts
  contracts/test/unitTests/layer_1/hold/hold.test.ts
  contracts/test/unitTests/layer_2/ERC1400/erc1400.test.ts
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

commit
  contracts/contracts/layer_0/ERC1400/ERC1410/ERC1410BasicStorageWrapper.sol
  contracts/contracts/layer_0/ERC1400/ERC1410/ERC1410BasicStorageWrapperRead.sol
  contracts/contracts/layer_0/ERC1400/ERC1410/ERC1410SnapshotStorageWrapper.sol
  contracts/contracts/layer_0/ERC1400/ERC1410/ERC1410StandardStorageWrapper.sol
  contracts/contracts/layer_0/ERC1400/ERC1644/ERC1644StorageWrapper.sol
  contracts/contracts/layer_0/ERC1400/ERC20/ERC20StorageWrapper_1.sol
  contracts/contracts/layer_0/ERC1400/ERC20/ERC20StorageWrapper_2.sol
  contracts/contracts/layer_0/adjustBalances/AdjustBalancesStorageWrapper_1.sol
  contracts/contracts/layer_0/cap/CapStorageWrapperRead.sol
  contracts/contracts/layer_0/corporateActions/CorporateActionsStorageWrapper_1.sol
  contracts/contracts/layer_0/corporateActions/CorporateActionsStorageWrapper_2.sol
  contracts/contracts/layer_0/hold/HoldStorageWrapper_1.sol
  contracts/contracts/layer_0/hold/HoldStorageWrapper_2.sol
  contracts/contracts/layer_0/lock/LockStorageWrapper_1.sol
  contracts/contracts/layer_0/lock/LockStorageWrapper_2.sol
  contracts/contracts/layer_0/scheduledTasks/ScheduledTasksCommon.sol
  contracts/contracts/layer_0/scheduledTasks/scheduledBalanceAdjustments/ScheduledBalanceAdjustmentsStorageWrapper.sol
  contracts/contracts/layer_0/scheduledTasks/scheduledSnapshots/ScheduledSnapshotsStorageWrapperRead.sol
  contracts/contracts/layer_0/scheduledTasks/scheduledTasks/ScheduledTasksStorageWrapper.sol
  contracts/contracts/layer_0/snapshots/SnapshotsStorageWrapper_1.sol
  contracts/contracts/layer_0/snapshots/SnapshotsStorageWrapper_2.sol
  contracts/contracts/layer_1/ERC1400/ERC1594/ERC1594.sol
  contracts/contracts/layer_1/ERC1400/ERC1644/ERC1644.sol
  contracts/contracts/layer_1/ERC1400/ERC20/ERC20.sol
  contracts/contracts/layer_1/cap/CapStorageWrapper.sol
  contracts/contracts/layer_1/common/Common.sol
  contracts/contracts/layer_1/lock/Lock.sol
  contracts/contracts/layer_1/snapshots/Snapshots.sol
  contracts/contracts/layer_2/interfaces/bond/IBond.sol
  contracts/contracts/layer_2/interfaces/bond/IBondStorageWrapper.sol
  contracts/contracts/layer_2/interfaces/equity/IEquityStorageWrapper.sol
  contracts/contracts/layer_2/scheduledTasks/ScheduledTasksLib.sol
  contracts/contracts/layer_2/scheduledTasks/scheduledBalanceAdjustments/ScheduledBalanceAdjustments.sol
  contracts/contracts/layer_2/scheduledTasks/scheduledSnapshots/ScheduledSnapshotsStorageWrapper.sol
  contracts/contracts/layer_2/scheduledTasks/scheduledTasks/ScheduledTasks.sol
  contracts/slither.db.json
Owners: @hashgraph/asset-tokenization-studio-committers, @hashgraph/developer-advocates, @hashgraph/iobuilders-hedera

.github/CODEOWNERS:

# Default code owners for entire repository
*                                               @hashgraph/asset-tokenization-studio-committers @hashgraph/developer-advocates @hashgraph/iobuilders-hedera

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers
/.github/workflows/                             @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers
/.github/depenadbot.yaml                        @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/developer-advocates @hashgraph/iobuilders-hedera

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/developer-advocates @hashgraph/iobuilders-hedera
**/LICENSE                                      @hashgraph/release-engineering-managers

# CodeCov configuration
**/codecov.yml                                  @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                   @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/developer-advocates @hashgraph/iobuilders-hedera
**/.gitignore.*                                 @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/developer-advocates @hashgraph/iobuilders-hedera
