Repository hashgraph/asset-tokenization-studio, pull requests merged in 2025-05, with the labels that each got.

#436 [BBND-853] Add custodian integration section to README
  README.md
Labels: SDK

#445 feat: Update SC test KYC facet
  contracts/contracts/mocks/MockedExternalKycList.sol
  contracts/package.json
  contracts/scripts/constants.ts
  contracts/test/unitTests/layer_1/externalKycLists/externalKycList.test.ts
  contracts/test/unitTests/layer_1/kyc/kyc.test.ts
Labels: Improvement, Contracts

#450 feat: update checkKyc validation and add internalKyc flag to request
  sdk/__tests__/fixtures/shared/SecurityFixture.ts
  sdk/__tests__/port/in/Bond.test.ts
  sdk/__tests__/port/in/Equity.test.ts
  sdk/__tests__/port/in/Kyc.test.ts
  sdk/__tests__/port/in/Management.test.ts
  sdk/__tests__/port/in/Roles.test.ts
  sdk/__tests__/port/in/Security.test.ts
  sdk/__tests__/port/in/Ssi.test.ts
  sdk/__tests__/port/out/AWSKMSTransactionAdapter.test.ts
  sdk/__tests__/port/out/DFNSTransactionAdapter.test.ts
  sdk/__tests__/port/out/FireblocksTransactionAdapter.test.ts
  sdk/src/app/service/ValidationService.ts
  sdk/src/app/service/ValidationService.unit.test.ts
  sdk/src/app/usecase/command/security/kyc/grantKyc/GrantKycCommandHandler.ts
  sdk/src/app/usecase/command/security/operations/clearing/approveClearingOperationByPartition/ApproveClearingOperationByPartitionCommandHandler.ts
  sdk/src/app/usecase/command/security/operations/clearing/cancelClearingOperationByPartition/CancelClearingOperationByPartitionCommandHandler.ts
  sdk/src/app/usecase/command/security/operations/clearing/clearingRedeemByPartition/ClearingRedeemByPartitionCommandHandler.ts
  sdk/src/app/usecase/command/security/operations/clearing/clearingRedeemFromByPartition/ClearingRedeemFromByPartitionCommandHandler.ts
  sdk/src/app/usecase/command/security/operations/clearing/clearingTransferByPartition/ClearingTransferByPartitionCommandHandler.ts
  sdk/src/app/usecase/command/security/operations/clearing/clearingTransferFromByPartition/ClearingTransferFromByPartitionCommandHandler.ts
  sdk/src/app/usecase/command/security/operations/clearing/operatorClearingRedeemByPartition/OperatorClearingRedeemByPartitionCommandHandler.ts
  sdk/src/app/usecase/command/security/operations/clearing/operatorClearingTransferByPartition/OperatorClearingTransferByPartitionCommandHandler.ts
  sdk/src/app/usecase/command/security/operations/clearing/protectedClearingRedeemByPartition/ProtectedClearingRedeemByPartitionCommandHandler.ts
  sdk/src/app/usecase/command/security/operations/clearing/protectedClearingTransferByPartition/ProtectedClearingTransferByPartitionCommandHandler.ts
  sdk/src/app/usecase/command/security/operations/clearing/reclaimClearingOperationByPartition/ReclaimClearingOperationByPartitionCommandHandler.ts
  sdk/src/app/usecase/command/security/operations/hold/executeHoldByPartition/ExecuteHoldByPartitionCommandHandler.ts
  sdk/src/app/usecase/command/security/operations/issue/IssueCommandHandler.ts
  sdk/src/app/usecase/command/security/operations/redeem/ProtectedRedeemFromByPartitionCommandHandler.ts
  sdk/src/app/usecase/command/security/operations/transfer/ProtectedTransferAndLockByPartitionCommandHandler.ts
  sdk/src/app/usecase/command/security/operations/transfer/ProtectedTransferFromByPartitionCommandHandler.ts
  sdk/src/app/usecase/command/security/operations/transfer/TransferCommandHandler.ts
  sdk/src/domain/context/kyc/Kyc.ts
  sdk/src/domain/context/security/Security.ts
  sdk/src/domain/context/security/error/operations/AccountNotKycd.ts
  sdk/src/domain/context/security/error/operations/contractsErrorsMapper/ContractsErrorMapper.ts
  sdk/src/port/in/Bond.ts
  sdk/src/port/in/Equity.ts
  sdk/src/port/in/request/bond/CreateBondRequest.ts
  sdk/src/port/in/request/equity/CreateEquityRequest.ts
  sdk/src/port/out/hs/HederaTransactionAdapter.ts
  sdk/src/port/out/rpc/RPCQueryAdapter.ts
  sdk/src/port/out/rpc/RPCTransactionAdapter.ts
Labels: New Feature, SDK

#451 chore: update documentation
  sdk/README.md
Labels: SDK

#459 fix: Transaction Service
  sdk/src/app/service/transaction/TransactionService.ts
  sdk/src/app/service/transaction/TransactionService.unit.test.ts
Labels: Improvement, SDK
