Repository hashgraph/asset-tokenization-studio, pull requests merged in 2025-04, with the labels that each got.

#387 [BBND-746] Incorrect Domain Representation for Settings Objects
  sdk/__tests__/jest-setup-file.ts
  sdk/__tests__/port/in/Kyc.test.ts
  sdk/src/app/service/ValidationService.ts
  sdk/src/app/usecase/command/network/connect/ConnectCommand.ts
  sdk/src/app/usecase/command/security/kyc/grantKyc/GrantKYCCommandHandler.ts
  sdk/src/app/usecase/query/account/securityRelationship/GetAccountSecurityRelationshipQuery.ts
  sdk/src/app/usecase/query/security/hold/getHoldForByPartition/GetHoldForByPartitionQuery.ts
  sdk/src/app/usecase/query/security/kyc/getKycFor/GetKYCForQuery.ts
  sdk/src/core/Injectable.ts
  sdk/src/core/settings/custodialWalletSettings/AWSKMSSettings.ts
  sdk/src/core/settings/custodialWalletSettings/DfnsSettings.ts
  sdk/src/core/settings/custodialWalletSettings/FireblocksSettings.ts
  sdk/src/core/settings/walletConnect/HWCSettings.ts
  sdk/src/domain/context/account/AccountSecurityRelation.ts
  sdk/src/domain/context/account/error/AccountNotAssociated.ts
  sdk/src/domain/context/account/error/AccountNotValid.ts
  sdk/src/domain/context/account/error/PublicKeyNotValid.ts
  sdk/src/domain/context/contract/error/ContractNotFound.ts
  sdk/src/domain/context/factory/DiamondArgs.ts
  sdk/src/domain/context/factory/DiamondInitialization.ts
  sdk/src/domain/context/kyc/KYC.ts
  sdk/src/domain/context/kyc/Kyc.ts
  sdk/src/domain/context/kyc/Terminal3.ts
  sdk/src/domain/context/security/Hold.ts
  sdk/src/domain/context/security/HoldDetails.ts
  sdk/src/domain/context/security/error/InvalidAutoRenewPeriod.ts
  sdk/src/domain/context/shared/error/InvalidBytes3.ts
  sdk/src/port/in/Network.ts
  sdk/src/port/in/request/mapping/RequestMapper.ts
  sdk/src/port/in/request/validation/Validation.ts
  sdk/src/port/out/TransactionAdapter.ts
  sdk/src/port/out/hs/hederawalletconnect/HederaWalletConnectTransactionAdapter.ts
  sdk/src/port/out/hs/hts/custodial/AWSKMSTransactionAdapter.ts
  sdk/src/port/out/hs/hts/custodial/CustodialTransactionAdapter.ts
  sdk/src/port/out/hs/hts/custodial/DFNSTransactionAdapter.ts
  sdk/src/port/out/hs/hts/custodial/FireblocksTransactionAdapter.ts
  sdk/src/port/out/rpc/RPCQueryAdapter.ts
Labels: Improvement, SDK

#382 [BBND-715] Reimburse allowance for cancelled holds and clearings
  contracts/contracts/layer_0/ERC1400/ERC20/ERC20StorageWrapper2.sol
  contracts/contracts/layer_0/clearing/ClearingStorageWrapper1.sol
  contracts/contracts/layer_0/clearing/ClearingStorageWrapper2.sol
  contracts/contracts/layer_0/common/MappingLib.sol
  contracts/contracts/layer_0/common/libraries/LibCommon.sol
  contracts/contracts/layer_0/common/types/ThirdPartyType.sol
  contracts/contracts/layer_0/core/accessControl/AccessControlStorageWrapper.sol
  contracts/contracts/layer_0/core/controlList/ControlListStorageWrapper.sol
  contracts/contracts/layer_0/core/kyc/KycStorageWrapper.sol
  contracts/contracts/layer_0/core/ssi/SsiManagementStorageWrapper.sol
  contracts/contracts/layer_0/corporateActions/CorporateActionsStorageWrapper1.sol
  contracts/contracts/layer_0/corporateActions/CorporateActionsStorageWrapper2.sol
  contracts/contracts/layer_0/hold/HoldStorageWrapper1.sol
  contracts/contracts/layer_0/hold/HoldStorageWrapper2.sol
  contracts/contracts/layer_0/lock/LockStorageWrapper1.sol
  contracts/contracts/layer_1/clearing/ClearingActionsFacet.sol
  contracts/contracts/layer_1/clearing/ClearingHoldCreationFacet.sol
  contracts/contracts/layer_1/clearing/ClearingReadFacet.sol
  contracts/contracts/layer_1/clearing/ClearingRedeemFacet.sol
  contracts/contracts/layer_1/clearing/ClearingTransferFacet.sol
  contracts/contracts/layer_1/hold/Hold.sol
  contracts/contracts/layer_1/interfaces/clearing/IClearing.sol
  contracts/contracts/layer_1/interfaces/clearing/IClearingRead.sol
  contracts/contracts/layer_1/interfaces/clearing/IClearingStorageWrapper.sol
  contracts/contracts/layer_1/interfaces/hold/IHold.sol
  contracts/contracts/layer_2/scheduledTasks/ScheduledTasksLib.sol
  contracts/contracts/resolver/BusinessLogicResolverWrapper.sol
  contracts/contracts/resolver/diamondCutManager/DiamondCutManagerWrapper.sol
  contracts/scripts/constants.ts
  contracts/test/unitTests/layer_1/clearing/clearing.test.ts
  contracts/test/unitTests/layer_1/hold/hold.test.ts
  contracts/test/unitTests/layer_1/protectedPartitions/protectedPartitions.test.ts
Labels: Bug, Contracts

#399 chore: remove unused files
  sdk/src/core/decorator/LogOperationDecorator.ts
  sdk/src/core/mapping/Mapper.ts
  sdk/src/domain/services/.gitkeep
  sdk/src/port/out/hs/error/CapabilityError.ts
Labels: Improvement, SDK

#396 [BBND-750] Use log service instead of console.log
  sdk/__tests__/fixtures/shared/DataFixture.ts
  sdk/src/app/service/ValidationService.unit.test.ts
  sdk/src/app/usecase/command/bond/create/CreateBondCommandHandler.ts
  sdk/src/app/usecase/command/equity/create/CreateEquityCommandHandler.ts
  sdk/src/domain/context/contract/ContractId.ts
  sdk/src/port/in/Network.ts
  sdk/src/port/out/hs/HederaTransactionResponseAdapter.ts
  sdk/src/port/out/hs/hederawalletconnect/HederaWalletConnectTransactionAdapter.ts
  sdk/src/port/out/rpc/RPCTransactionAdapter.ts
Labels: Improvement, SDK

#406 [BBND-809] Remove external dependencies in addLicense.js script
  addLicence.js
  commitlint.config.ts
  contracts/test/index.ts
  web/src/hooks/queries/useClearingOperations.ts
  web/src/hooks/queries/useKYC.ts
  web/src/hooks/queries/useSSIManager.ts
Labels: Bug, Improvement

#408 Hotfix: Bond creation command
  README.md
  contracts/README.md
  contracts/package.json
  package.json
  sdk/package.json
  sdk/src/app/usecase/command/bond/create/CreateBondCommandHandler.ts
  sdk/src/app/usecase/command/bond/create/CreateBondCommandHandler.unit.test.ts
  web/package.json
  web/src/views/DigitalSecurityDetails/Components/RoleManagement/SearchByRole.tsx
Labels: Bug

#420 [BBND-752] Align naming conventions
  sdk/__tests__/jest-setup-file.ts
  sdk/__tests__/port/in/Kyc.test.ts
  sdk/__tests__/port/in/Security.test.ts
  sdk/__tests__/port/in/Ssi.test.ts
  sdk/src/app/service/ValidationService.ts
  sdk/src/app/service/ValidationService.unit.test.ts
  sdk/src/app/usecase/command/security/error/InvalidVc.ts
  sdk/src/app/usecase/command/security/error/InvalidVcHolder.ts
  sdk/src/app/usecase/command/security/kyc/grantKyc/GrantKycCommand.ts
  sdk/src/app/usecase/command/security/kyc/grantKyc/GrantKycCommandHandler.ts
  sdk/src/app/usecase/command/security/kyc/revokeKyc/RevokeKycCommand.ts
  sdk/src/app/usecase/command/security/kyc/revokeKyc/RevokeKycCommandHandler.ts
  sdk/src/app/usecase/query/security/kyc/getKycAccountsCount/GetKycAccountsCountQuery.ts
  sdk/src/app/usecase/query/security/kyc/getKycAccountsCount/GetKycAccountsCountQueryHandler.ts
  sdk/src/app/usecase/query/security/kyc/getKycAccountsData/GetKycAccountsDataQuery.ts
  sdk/src/app/usecase/query/security/kyc/getKycAccountsData/GetKycAccountsDataQueryHandler.ts
  sdk/src/app/usecase/query/security/kyc/getKycFor/GetKycForQuery.ts
  sdk/src/app/usecase/query/security/kyc/getKycFor/GetKycForQueryHandler.ts
  sdk/src/app/usecase/query/security/kyc/getKycStatusFor/GetKycStatusForQuery.ts
  sdk/src/app/usecase/query/security/kyc/getKycStatusFor/GetKycStatusForQueryHandler.ts
  sdk/src/core/Injectable.ts
  sdk/src/core/error/BaseError.ts
  sdk/src/domain/context/kyc/Kyc.ts
  sdk/src/domain/context/kyc/KycAccountData.ts
  sdk/src/domain/context/kyc/Terminal3.ts
  sdk/src/port/in/Kyc.ts
  sdk/src/port/in/SsiManagement.ts
  sdk/src/port/in/index.ts
  sdk/src/port/in/request/index.ts
  sdk/src/port/in/request/security/kyc/GetKycAccountsCountRequest.ts
  sdk/src/port/in/request/security/kyc/GetKycAccountsDataRequest.ts
  sdk/src/port/in/request/security/kyc/GetKycForRequest.ts
  sdk/src/port/in/request/security/kyc/GetKycStatusForRequest.ts
  sdk/src/port/in/request/security/kyc/GrantKycRequest.ts
  sdk/src/port/in/request/security/kyc/RevokeKycRequest.ts
  sdk/src/port/in/response/KycAccountDataViewModel.ts
  sdk/src/port/in/response/KycViewModel.ts
  sdk/src/port/in/response/index.ts
  sdk/src/port/out/TransactionAdapter.ts
  sdk/src/port/out/hs/HederaTransactionAdapter.ts
  sdk/src/port/out/rpc/RPCQueryAdapter.ts
  sdk/src/port/out/rpc/RPCTransactionAdapter.ts
  web/src/hooks/mutations/useKYC.tsx
  web/src/hooks/queries/useKYC.ts
  web/src/services/SDKService.ts
  web/src/views/DigitalSecurityDetails/Components/KYC/KYC.tsx
  web/src/views/DigitalSecurityDetails/Components/KYC/KYCModal.tsx
Labels: Improvement, SDK

#404 [BBND-804] KYC status bug fixed
  web/src/views/DigitalSecurityDetails/Components/KYC/KYC.tsx
Labels: Bug, Web

#427 chore: Add external pauses management documentation
  sdk/README.md
Labels: SDK

#426 chore: add external control list management documentation
  sdk/README.md
Labels: SDK

#409 Refactor: Move mocked revocation list
  contracts/contracts/mocks/revocationRegistry/MockedT3RevocationRegistry.sol
  contracts/test/unitTests/layer_1/kyc/kyc.test.ts
  contracts/test/unitTests/layer_1/ssi/ssi.test.ts
Labels: Improvement, Contracts
