Repository hashgraph/asset-tokenization-studio, pull requests merged in 2025-06, with the labels that each got.

#468 fix: [BBND-931]instructions with wrong links and locale missing
  web/src/i18n/en/landing.ts
  web/src/i18n/en/security/createBond.ts
  web/src/views/CreateBond/__tests__/__snapshots__/CreateBond.test.tsx.snap
  web/src/views/Landing/__tests__/__snapshots__/Landing.test.tsx.snap
Labels: Bug, Web

#464 chore: update versions and lock files
  contracts/package-lock.json
  contracts/package.json
  package-lock.json
  package.json
  sdk/package-lock.json
  sdk/package.json
  web/package.json
Labels: Release

#480 [BBND-959] Agent
  contracts/contracts/layer_0/ERC3643/ERC3643StorageWrapper1.sol
  contracts/contracts/layer_0/ERC3643/ERC3643StorageWrapper2.sol
  contracts/contracts/layer_0/constants/roles.sol
  contracts/contracts/layer_0/core/accessControl/AccessControlStorageWrapper.sol
  contracts/contracts/layer_1/ERC3643/ERC3643.sol
  contracts/contracts/layer_1/constants/roles.sol
  contracts/contracts/layer_1/interfaces/ERC3643/IERC3643.sol
  contracts/contracts/layer_1/interfaces/accessControl/IAccessControlStorageWrapper.sol
  contracts/scripts/constants.ts
  contracts/test/unitTests/layer_1/ERC3643/erc3643.test.ts
Labels: Contracts

#490 feat: set address frozen, roles check and recovery
  contracts/contracts/layer_0/ERC1400/ERC1410/ERC1410ControllerStorageWrapper.sol
  contracts/contracts/layer_0/ERC1400/ERC1410/ERC1410StandardStorageWrapper.sol
  contracts/contracts/layer_0/ERC3643/ERC3643StorageWrapper1.sol
  contracts/contracts/layer_0/ERC3643/ERC3643StorageWrapper2.sol
  contracts/contracts/layer_0/constants/values.sol
  contracts/contracts/layer_1/ERC1400/ERC1410/ERC1410Basic.sol
  contracts/contracts/layer_1/ERC1400/ERC1410/ERC1410Controller.sol
  contracts/contracts/layer_1/ERC1400/ERC1410/ERC1410Operator.sol
  contracts/contracts/layer_1/ERC1400/ERC1410/ERC1410ProtectedPartitions.sol
  contracts/contracts/layer_1/ERC1400/ERC1410/ERC1410Standard.sol
  contracts/contracts/layer_1/ERC1400/ERC1594/ERC1594.sol
  contracts/contracts/layer_1/ERC1400/ERC1594/ERC1594StorageWrapper.sol
  contracts/contracts/layer_1/ERC1400/ERC1644/ERC1644.sol
  contracts/contracts/layer_1/ERC1400/ERC20/ERC20.sol
  contracts/contracts/layer_1/ERC3643/ERC3643.sol
  contracts/contracts/layer_1/clearing/ClearingHoldCreationFacet.sol
  contracts/contracts/layer_1/clearing/ClearingRedeemFacet.sol
  contracts/contracts/layer_1/clearing/ClearingTransferFacet.sol
  contracts/contracts/layer_1/constants/values.sol
  contracts/contracts/layer_1/hold/Hold.sol
  contracts/contracts/layer_1/interfaces/ERC3643/IERC3643.sol
  contracts/contracts/layer_1/lock/Lock.sol
  contracts/scripts/constants.ts
  contracts/test/unitTests/layer_1/ERC1400/ERC1594/erc1594.test.ts
  contracts/test/unitTests/layer_1/ERC3643/erc3643.test.ts
  sdk/__tests__/fixtures/bond/BondFixture.ts
Labels: New Feature, Contracts

#495 [BBND 938] ERC3643 Batch operations
  contracts/contracts/layer_1/ERC3643/ERC3643.sol
  contracts/package.json
  contracts/test/unitTests/layer_1/ERC3643/erc3643.test.ts
Labels: New Feature, Contracts

#493 feat: only allow recovery if empty locks, holds and clearings
  contracts/contracts/layer_0/ERC1400/ERC1410/ERC1410ControllerStorageWrapper.sol
  contracts/contracts/layer_0/ERC1400/ERC1410/ERC1410StandardStorageWrapper.sol
  contracts/contracts/layer_0/ERC3643/ERC3643StorageWrapper1.sol
  contracts/contracts/layer_0/ERC3643/ERC3643StorageWrapper2.sol
  contracts/contracts/layer_0/constants/values.sol
  contracts/contracts/layer_1/ERC1400/ERC1410/ERC1410Basic.sol
  contracts/contracts/layer_1/ERC1400/ERC1410/ERC1410Operator.sol
  contracts/contracts/layer_1/ERC1400/ERC1410/ERC1410ProtectedPartitions.sol
  contracts/contracts/layer_1/ERC1400/ERC1410/ERC1410Standard.sol
  contracts/contracts/layer_1/ERC1400/ERC1594/ERC1594.sol
  contracts/contracts/layer_1/ERC1400/ERC1594/ERC1594StorageWrapper.sol
  contracts/contracts/layer_1/ERC1400/ERC20/ERC20.sol
  contracts/contracts/layer_1/ERC3643/ERC3643.sol
  contracts/contracts/layer_1/clearing/ClearingHoldCreationFacet.sol
  contracts/contracts/layer_1/clearing/ClearingRedeemFacet.sol
  contracts/contracts/layer_1/clearing/ClearingTransferFacet.sol
  contracts/contracts/layer_1/constants/values.sol
  contracts/contracts/layer_1/hold/Hold.sol
  contracts/contracts/layer_1/interfaces/ERC3643/IERC3643.sol
  contracts/scripts/constants.ts
  contracts/test/unitTests/layer_1/ERC3643/erc3643.test.ts
Labels: Feature Enhancement, Contracts
