Repository hashgraph/asset-tokenization-studio, pull requests merged in 2025-08, with the labels that each got.

#555 refactor: split facets sdk
  sdk/src/port/out/hs/HederaTransactionAdapter.ts
  sdk/src/port/out/rpc/RPCQueryAdapter.ts
  sdk/src/port/out/rpc/RPCTransactionAdapter.ts
Labels: Improvement, SDK

#554 refactor: can transfer checks
  contracts/contracts/layer_0/ERC1400/ERC1594/ERC1594StorageWrapper.sol
  contracts/contracts/layer_0/clearing/ClearingStorageWrapper2.sol
  contracts/contracts/layer_0/common/libraries/Eip1066Lib.sol
  contracts/contracts/layer_0/common/libraries/LowLevelCall.sol
  contracts/contracts/layer_1/ERC1400/ERC1410/ERC1410Operator.sol
  contracts/contracts/layer_1/ERC1400/ERC1410/ERC1410Standard.sol
  contracts/contracts/layer_1/ERC1400/ERC1594/ERC1594.sol
  contracts/contracts/layer_1/ERC1400/ERC20/ERC20.sol
  contracts/contracts/layer_1/ERC3643/ERC3643.sol
  contracts/contracts/layer_1/hold/Hold.sol
  contracts/contracts/test/compliance/ComplianceMock.sol
  contracts/test/unitTests/layer_1/ERC3643/erc3643.test.ts
Labels: Contracts

#549 [BBND-1042] Add ERC3643 canTransfer validation
  contracts/contracts/layer_0/ERC1400/ERC1594/ERC1594StorageWrapper.sol
  contracts/contracts/layer_0/clearing/ClearingStorageWrapper2.sol
  contracts/contracts/layer_0/common/libraries/LowLevelCall.sol
  contracts/contracts/layer_1/ERC1400/ERC1410/ERC1410Operator.sol
  contracts/contracts/layer_1/ERC1400/ERC1410/ERC1410Standard.sol
  contracts/contracts/layer_1/ERC1400/ERC1594/ERC1594.sol
  contracts/contracts/layer_1/ERC1400/ERC20/ERC20.sol
  contracts/contracts/layer_1/ERC3643/ERC3643.sol
  contracts/contracts/layer_1/hold/Hold.sol
  contracts/contracts/layer_1/interfaces/ERC3643/ICompliance.sol
  contracts/contracts/layer_1/interfaces/ERC3643/IERC3643.sol
  contracts/contracts/test/compliance/ComplianceMock.sol
  contracts/test/unitTests/layer_1/ERC3643/erc3643.test.ts
Labels: New Feature, Contracts

#559 docs: update pull request template with hidden hints
  .github/pull_request_template.md
Labels: Documentation
